.card_button {
  background-color: #f2c53d;
  color: white;
  width: 100px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.6rem;
  transition: box-shadow 0.2s;
}

.submit {
  background-color: #f2c53d;
  color: white;
  width: 100px;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  transition: box-shadow 0.2s;
  justify-self: center;
  grid-column: span 2;
  align-self: center;
  font-size: 1.6rem;
}

.logout {
  background-color: #f2c53d;
  color: white;
  width: 100px;
  margin: 30px;
  padding: 15px;
  border-radius: 5px;
  transition: box-shadow 0.2s;
  font-size: 1.6rem;
}

.card_button:hover {
  cursor: pointer;
  background-color: #b89429;
  box-shadow: 0 0 5px 0 white, 0 0 10px 0 white;
}

.submit:hover {
  cursor: pointer;
  background-color: #b89429;
  box-shadow: 0 0 5px 0 white, 0 0 10px 0 white;
}

.logout:hover {
  cursor: pointer;
  background-color: #b89429;
  box-shadow: 0 0 5px 0 white, 0 0 10px 0 white;
}
