.introduction_image {
  height: 130px;
  width: auto;
  margin-top: 80px;
}

.introduction_name {
  font-size: 2.2rem;
}

.abouttext {
  font-size: 1.5rem;
  padding: 20px;
}

.skills_headline {
  font-size: 1.8rem;
}

.persontags_list {
  font-size: 1.5rem;
  padding: 5px 0 20px 0;
  list-style: none;
}
