.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
}

.form_label {
  padding: 10px;
  font-size: 1.5rem;
}

.form_textarea {
  padding: 10px;
}

.label--question {
  position: absolute;
  left: 0px;
  top: 0px;
}

.textarea--question {
  position: absolute;
  right: 0px;
  top: 0px;
}

.label--answer {
  position: absolute;
  left: 0px;
  top: 50px;
}

.textarea--answer {
  position: absolute;
  right: 0px;
  top: 50px;
}

.label--tags {
  position: absolute;
  left: 0px;
  top: 150px;
}

.textarea--tags {
  position: absolute;
  right: 0px;
  top: 150px;
}

.logout {
  background-color: #02a676;
  color: white;
  width: 100px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
