.footer {
  display: flex;
  justify-content: space-between;
  background-color: #d97236;
  opacity: 85%;
  position: fixed;
  bottom: 0px;
  align-items: center;
  width: 100%;
}

.footer_house {
  margin: 5px -10px 5px 60px;
  height: 4.7rem;
}

.footer_bookmark {
  margin: 5px -10px 5px -10px;
  height: 4.5rem;
}

.footer_page {
  margin: 5px -10px 5px -10px;
  height: 4.5rem;
}

.footer_account {
  margin: 5px 60px 5px -10px;
  height: 4.5rem;
}
